@use "../global/functions" as *;
@use "../global" as g;

/* 表示切替 */
// PC時に非表示（PCファースト）
.u-hidden-pc {
  display: none;
  @include g.mq("md") {
    display: block;
  }
}
// スマホ時に非表示（PCファースト）
.u-hidden-sp {
  display: block;
  @include g.mq("md") {
    display: none;
  }
}

//375以下非表示
.u-hidden-xs {
  display: inline-block;
  @include g.mq("sm") {
    display: none;
  }
}

//375以下のみ表示
.u-hidden-xs-only {
  display: none;
  @include g.mq("sm") {
    display: block;
  }
}