@use "../global/functions" as *;
@use "../global" as g;

/* home すべての記事 */
.p-home {
}

.p-home__inner {
}

.p-home__heading {
}

.p-home__tab-list {
  margin-top: rm(40);
  @include g.mq("md") {
    margin-top: rm(46);
  }
}

.p-home__pagination {
}

.p-home__tag-list {
  margin-top: rm(63);
}
