@use "../global/functions" as *;
@use "../global" as g;

/* swiper */
/*===============================
FV 中央カードがUPスライダー
===============================*/
.p-swiper__front-page-container {
  position: relative;
}
.p-swiper__front-page-swiper {
  position: relative;
}
.p-swiper__front-page-wrapper {
  position: relative;
  padding-top: rm(64);
  padding-bottom: rm(48);
  @include g.mq("md") {
    padding-top: rm(62);
    padding-bottom: rm(58);
  }
}
.p-swiper__front-page-slide {
  position: relative;
  transform: translateY(0);
  transition: none; /* 初期状態ではトランジションを無効にする */
  &.swiper-slide-active {
    transform: translateY(-40px); //中央UP
  }
  @include g.mq("md") {
    &.swiper-slide-active {
      transform: translateY(-12px); //中央UP
    }
  }
}
//カードが重なる時の対処方（slideの内側width: 100%;）
.p-swiper__front-page-slide a {
  //カード幅調整
  width: 100%;
  object-fit: cover;
}
// ==============================
//     navigation について
// ==============================
.p-swiper__front-page-arrow {
  margin-top: -5px; //位置調整
  position: absolute;
  width: calc(calc(680px / 1440px * 100%) + 35px * 2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: map-get(g.$layer, "arrow");
  @include g.mq("md") {
    width: 100%;
    margin-top: -3px; //位置調整
  }
}
.p-swiper__front-page-prev {
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  &::after {
    content: ""; //デフォルトの削除
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../img/front-page/fv_prev.svg) no-repeat top center /
      contain;
  }
  @include g.mq("md") {
    left: 13px;
  }
  @include g.hs(hp) {
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.8;
    }
  }
  @include g.hs(hi) {
    &:active {
      opacity: 0.8;
    }
  }
}

.p-swiper__front-page-next {
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  &::after {
    content: ""; //デフォルトの削除
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../img/front-page/fv_next.svg) no-repeat top center /
      contain;
  }
  @include g.mq("md") {
    right: 13px;
  }
  @include g.hs(hp) {
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.8;
    }
  }
  @include g.hs(hi) {
    &:active {
      opacity: 0.8;
    }
  }
}

/*===============================
右にはみ出すスライダー（おすすめ一覧）
===============================*/
.p-swiper__recommend-inner {
  max-width: calc(g.$inner-width + g.$inline-pc * 2);
  margin-inline: auto;
  padding-inline: g.$inline-pc;
  @include g.mq(sp) {
    padding-inline: g.$inline-sp;
  }
}
.p-swiper__recommend-container {
  position: relative;
  /* インナーを超えて右側を拡張 */
  margin-right: calc(50% - 50vw);
  overflow-x: hidden;
  margin-top: -38px; //padding分を相殺
  padding-left: 1000px;
  margin-left: -1000px; //padding分を相殺
  padding-right: 40px;
  @include g.mq("md") {
    margin-top: 0;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
// NEXT-PREV の配置
.p-swiper__recommend-head {
  position: relative;
  max-width: g.$inner-width;
  padding-right: g.$inline-pc;
}
.p-swiper__recommend-arrow {
  position: absolute;
  top: 24px;
  right: -4px; //2つのarrow右側調整
  display: flex;
  gap: 55px; //2つのarrow幅を調整
  align-items: center;
  @media (max-width: 1100px) {
    right: 40px;
  }
  @include g.mq("md") {
    top: 48px;
    right: 0; //2つのarrow右側調整
    gap: 57px;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0.5;
  }
}

.p-swiper__recommend-swiper {
  position: relative;
  overflow: visible !important; //左右に出す
  padding-top: 84px; //矢印上に出す
  padding-bottom: 46px; //スライドバーを下に出す
  @include g.mq("md") {
    padding-top: 96px; //矢印上に出す
    padding-bottom: 33px;
  }
}
.p-swiper__recommend-wrapper {
  position: relative;
}
//カードが重なる時の対処方（slideの内側のaタグにwidth: 100%;）
.p-swiper__recommend-slide a {
  //カード幅調整
  width: 100%;
  object-fit: cover;
}
// ==============================
//ノーマル　トップページ　白ボタン
// ==============================
.p-swiper__recommend-prev {
  position: relative; //デフォルトの削除
  &::after {
    content: ""; //デフォルトの削除
    position: absolute;
    width: 48px;
    height: 48px;
    background: url(../img/front-page/prev_circle-white.svg) no-repeat top
      center / contain;
    transition: all 0.3s ease 0s;
  }
  @include g.hs(hp) {
    transition: all 0.3s ease 0s;
    &:hover {
      &::after {
        background: url(../img/front-page/prev_circle-white-active.svg)
          no-repeat top center / contain;
      }
    }
  }
  @include g.hs(hi) {
    &:active {
      &::after {
        background: url(../img/front-page/prev_circle-white-active.svg)
          no-repeat top center / contain;
      }
    }
  }
}

.p-swiper__recommend-next {
  position: relative; //デフォルトの削除
  &::after {
    content: ""; //デフォルトの削除
    position: absolute;
    width: 48px;
    height: 48px;
    background: url(../img/front-page/next_circle-white.svg) no-repeat top
      center / contain;
    transition: all 0.3s ease 0s;
  }
  @include g.hs(hp) {
    transition: all 0.3s ease 0s;
    &:hover {
      &::after {
        background: url(../img/front-page/next_circle-white-active.svg)
          no-repeat top center / contain;
      }
    }
  }
  @include g.hs(hi) {
    &:active {
      &::after {
        background: url(../img/front-page/next_circle-white-active.svg)
          no-repeat top center / contain;
      }
    }
  }
}

// ==============================
//     スクロールバー
// ==============================
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  max-width: g.$inner-width !important;
  left: 1000px;
  height: 8px;
  @include g.mq("md") {
    left: 20px;
  }
}
.swiper-scrollbar {
  background-color: #dde1f0;
  position: relative;
  z-index: map-get(g.$layer, "default") !important;
}
.swiper-scrollbar-drag {
  position: relative;
  background-color: g.$color-blue-dark;
  z-index: map-get(g.$layer, "default") !important;
}

// ==============================
//投稿ページswiper
// ==============================
.p-swiper__single-swiper {
  position: relative;
  overflow: visible !important; //左右に出す
  padding-top: 84px; //矢印上に出す
  padding-bottom: 46px; //スライドバーを下に出す
  @include g.mq("md") {
    padding-top: 96px; //矢印上に出す
    padding-bottom: 33px;
  }
}

.p-single__recommend-slider {
  .p-swiper__recommend-arrow {
    @media (max-width: 1100px) {
      right: 50px;
    }
    @include g.mq("md") {
      right: 30px;
    }
  }
}

// ==============================
//投稿ページ下　青ボタン
// ==============================
.p-single__recommend-slider {
  .p-swiper__recommend-prev {
    &::after {
      background: url(../img/single/prev_circle-blue.svg) no-repeat top center /
        contain;
    }
    @include g.hs(hp) {
      transition: all 0.3s ease 0s;
      &:hover {
        &::after {
          background: url(../img/single/prev_circle-blue-active.svg) no-repeat
            top center / contain;
        }
      }
    }
    @include g.hs(hi) {
      &:active {
        &::after {
          background: url(../img/single/prev_circle-blue-active.svg) no-repeat
            top center / contain;
        }
      }
    }
  }

  .p-swiper__recommend-next {
    &::after {
      background: url(../img/single/next_circle-blue.svg) no-repeat top center /
        contain;
    }
    @include g.hs(hp) {
      transition: all 0.3s ease 0s;
      &:hover {
        &::after {
          background: url(../img/single/next_circle-blue-active.svg) no-repeat
            top center / contain;
        }
      }
    }
    @include g.hs(hi) {
      &:active {
        &::after {
          background: url(../img/single/next_circle-blue-active.svg) no-repeat
            top center / contain;
        }
      }
    }
  }
}
