@use "../global/functions" as *;
@use "../global" as g;

/* category 新着情報の記事 */
.p-category {
}

.p-category__inner {
}

.p-category__heading {
}

.p-category__tab-list {
  margin-top: rm(40);
  @include g.mq("md") {
    margin-top: rm(56);
  }
}

.p-category__pagination {
  margin-top: rm(56);
  @include g.mq("md") {
    margin-top: rm(32);
  }
}

.p-category__tag-list {
  margin-top: rm(64);
}
