@use "../global/functions" as *;
@use "../global" as g;

/* single 投稿ページ */
.p-single {
}

.p-single__inner {
  max-width: calc(1016px + g.$inline-pc * 2);
  padding-inline: g.$inline-pc;
  margin-inline: auto;
  @include g.mq("md") {
    padding-inline: 0;
  }
}

.p-single__box {
  padding-block: cal-clamp(48, 88);
  padding-inline: cal-clamp(20, 48);
  border-radius: rm(20);
  background: g.$color-font-white;
  box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.05);
  @include g.mq("md") {
    border-radius: 0;
  }
}

.p-single__article {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.p-single__meta {
  display: flex;
  flex-direction: column;
  gap: rm(8);
}

.p-single__date {
  display: flex;
  gap: rm(16);
  color: g.$color-font-gray;
  font-size: cal-clamp(14, 16);
  line-height: 180%;
}
.p-single__date-text {
}
.p-single__datetime {
}
.p-single__category {
}

.p-single__img {
  margin-top: rm(16);
  width: 100%;
  img {
    width: 100%;
    // aspect-ratio: 840/490;
    object-fit: cover;
    border-radius: rm(8);
  }
}

.p-single__discription {
  margin-top: cal-clamp(20, 32);
  font-size: cal-clamp(14, 15);
  line-height: 200%;
  letter-spacing: 2.25px;
  @include g.mq("md") {
    line-height: 180%;
    letter-spacing: 1.4px;
  }
}
.p-single__body {
  width: 100%;
  h2,
  h3,
  p,
  table {
    margin-top: 20px;
  }

  h4,
  ul {
    margin-top: 10px;
  }

}
.p-single__h1 {
  font-size: cal-clamp(20, 28);
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 2.8px;
  @include g.mq("md") {
    line-height: 150%;
    letter-spacing: 2px;
  }
}
.p-single__h2 {
  width: 100%;
  font-size: cal-clamp(20, 24);
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 3.6px;
  padding-block: rm(16);
  position: relative;
  @include g.mq("md") {
    letter-spacing: 3px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: rm(2);
    left: 0;
    bottom: 0;
    background: g.$color-blue-light;
  }
}
.p-single__h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 3.2px;
  padding-left: rm(16);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: rm(2);
    height: rm(26);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: g.$color-blue-light;
  }
}
.p-single__h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 3px;
  padding-left: rm(30);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: rm(20);
    height: rm(2);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: g.$color-blue-light;
  }
}
.p-single__text {
  font-size: cal-clamp(14, 15);
  line-height: 200%;
  letter-spacing: 2.25px;
  @include g.mq("md") {
    line-height: 180%;
    letter-spacing: 1.4px;
  }
}
.p-single__list {
  font-size: 15px;
  line-height: 200%;
  letter-spacing: 2.25px;
  padding-left: rm(24);
  margin-left: rm(20);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: rm(4);
    aspect-ratio: 1/1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: g.$color-blue-light;
  }
}
//表（カスタムフィールド）
.p-single__table {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  border-collapse: collapse;
}

.p-single__table-head {
  padding-block: cal-clamp(6, 8) cal-clamp(7, 8);
  padding-inline: rm(3);
  width: 33.333%;
  font-size: cal-clamp(13, 16);
  font-weight: 700;
  line-height: 150%;
  color: g.$color-font-white;
  background-color: g.$color-blue-light;
  border: 1px solid g.$color-blue-light;
}

.p-single__table-data {
  padding-block: cal-clamp(6, 8) cal-clamp(7, 8);
  padding-inline: rm(3);
  width: 33.333%;
  font-size: cal-clamp(13, 16);
  line-height: 150%;
  background-color: g.$color-font-white;
  border: 1px solid g.$color-blue-light;
}

//ボタン（コンサルタント案件の紹介登録をする）
.p-single__button {
  margin-top: rm(20);
}
//タグ（この記事のタグ）
.p-single__box-tag-list {
  margin-top: cal-clamp(20, 32);
  width: 100%;
  padding-top: rm(20);
  display: flex;
  align-items: start;
  border-top: 1px solid g.$color-border-light-gray;
  gap: rm(32);
  @include g.mq("md") {
    flex-direction: column;
    align-items: start;
    gap: rm(8);
  }
}

.p-single__box-tag-list-head {
  display: inline-block;
  font-size: rm(15);
  line-height: 200%;
  letter-spacing: 2.25px;
  flex-shrink: 0;
}

.p-single__box-tag-list-body {
  display: flex;
  flex-wrap: wrap;
  gap: rm(8);
}

// おすすめ スライダー
.p-single__recommend {
  margin-top: cal-clamp(40, 64);
}
.p-single__recommend-inner {
}
.p-single__recommend-heading {
}
.p-single__recommend-slider {
}

// タグ リスト
.p-single__tag-list {
  margin-top: rm(64);
  max-width: calc(1016px + g.$inline-pc * 2);
  padding-inline: g.$inline-pc;
  margin-inline: auto;
  @include g.mq("md") {
    padding-inline: g.$inline-sp;
  }
}
