*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	vertical-align: baseline;
	margin: 0;
	border: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	vertical-align: bottom;
	border: none;
}

a {
	cursor: pointer;
	text-decoration: none;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/*  */

body {
	background: #e6edf3;
	color: #343436;
	font-weight: 400;
	font-size: 1rem;
	font-family: "Noto Sans JP", sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
}

/* header */

.l-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	background: transparent;
	width: 100%;
	height: 140px;
}

/* inner */

.l-inner {
	margin-inline: auto;
	padding-inline: 40px;
	max-width: 1114px;
}

/* main */

.l-main {
	padding-top: 140px;
}

/* section */

.l-section {
	padding-block: clamp(3rem, 0.9395604396rem + 4.3956043956vw, 4rem);
}

/* button */

.c-button {
	display: grid;
	place-items: center;
	box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
	border: 2px solid #135097;
	border-radius: 1.25rem 1.25rem 0px 1.25rem;
	background-color: #135097;
	padding-inline: 0.875rem 0.625rem;
	padding-block: 0.375rem 0.375rem;
	width: clamp(10.0625rem, 8.6459478022rem + 3.021978022vw, 10.75rem);
	height: clamp(3rem, 2.4848901099rem + 1.0989010989vw, 3.25rem);
}

.c-button__text {
	color: #ffffff;
	font-weight: 700;
	font-size: clamp(1.125rem, 0.8674450549rem + 0.5494505495vw, 1.25rem);
	line-height: 180%;
	font-family: "Zen Maru Gothic", serif;
	letter-spacing: 4px;
}

.c-button__light-blue {
	display: grid;
	place-items: center;
	border: 2px solid #ffffff;
	border-radius: 1rem;
	background: #629de2;
	padding-inline: 1.875rem 1.8125rem;
	padding-block: 0.875rem;
	width: auto;
	height: clamp(3.125rem, 1.4508928571rem + 3.5714285714vw, 3.9375rem);
	color: #ffffff;
	font-weight: 500;
	font-size: clamp(0.875rem, -0.4127747253rem + 2.7472527473vw, 1.5rem);
	line-height: 130%;
	letter-spacing: 1.92px;
	white-space: nowrap;
}

.c-button__push-header {
	display: inline-block;
	box-shadow: 0 0.25rem 0 transparent;
	width: 152px;
	text-align: center;
}

.c-button__push-header-text-1st {
	display: block;
	border: 1px solid #ffffff;
	border-radius: 0.5rem 0.5rem 0px 0px;
	background-color: #135097;
	padding: 0.0625rem 0.1875rem 0rem;
	color: #ffffff;
	font-weight: 700;
	font-size: 0.75rem;
	line-height: 166.667%;
	white-space: nowrap;
}

.c-button__push-header-text-2nd {
	display: block;
	border: 1px solid #ffffff;
	border-radius: 0px 0px 0.5rem 0.5rem;
	background-color: #ffffff;
	padding: 0.1875rem 0;
	color: #135097;
	font-weight: 700;
	font-size: 1rem;
	line-height: 125%;
}

.c-button__push-header--modifier {
	width: 144px;
}

.c-button__push-header-text-1st--modifier {
	background-color: #ffffff;
	color: #135097;
}

.c-button__push-header-text-2nd--modifier {
	background-color: #135097;
	color: #ffffff;
}

.c-button__cta {
	display: inline-block;
	position: relative;
	box-shadow: 0 0.5rem 0 transparent;
}

.c-button__cta-body01 {
	display: block;
	position: relative;
	z-index: 3;
	margin-top: 1.8125rem;
	box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.05), 0px 24px 44px 0px rgba(0, 0, 0, 0.05);
	border: 1px solid #ffffff;
	border-radius: 0px 0.5rem 0.5rem 0.5rem;
	background-color: #ffffff;
	padding-inline: 2rem 4.0625rem;
	padding-block: 0.9375rem;
	color: #135097;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 130%;
	font-family: "Zen Maru Gothic", serif;
	letter-spacing: 0.48px;
}

.c-button__cta-body01::before {
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
	background: url(../img/common/cta_arrow-blue.svg) no-repeat center right/contain;
	width: 1.5rem;
	height: 1.5rem;
	content: "";
}

.c-button__cta-head01 {
	position: absolute;
	top: 0;
	z-index: 4;
	border-radius: 0.5rem 0.5rem 0.5rem 0px;
	width: 81.6326530612%;
}

.c-button__cta-head01-bg {
	position: absolute;
	top: 0;
	z-index: 2;
	box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.05), 0px 24px 44px 0px rgba(0, 0, 0, 0.05);
	border-radius: 0.5rem 0.5rem 0.5rem 0px;
	width: 81.6326530612%;
}

.c-button__cta-body02 {
	display: block;
	position: relative;
	z-index: 3;
	margin-top: 1.8125rem;
	box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.05), 0px 24px 44px 0px rgba(0, 0, 0, 0.05);
	border: 2px solid #ffffff;
	border-radius: 0px 0.75rem 0.75rem 0.75rem;
	background-color: transparent;
	padding-inline: 1.875rem 3.21875rem;
	padding-block: 0.86875rem;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 130%;
	font-family: "Zen Maru Gothic", serif;
	letter-spacing: 1.92px;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.c-button__cta-body02::before {
	position: absolute;
	top: 50%;
	right: 1.8125rem;
	transform: translateY(-50%);
	background: url(../img/common/cta_arrow-white.svg) no-repeat center right/contain;
	width: 1.5rem;
	height: 1.5rem;
	content: "";
}

.c-button__cta-head02 {
	position: absolute;
	top: 0;
	z-index: 4;
	border-radius: 0.5rem 0.5rem 0.5rem 0px;
	width: 66.7716535433%;
}

.c-button__cta-head02-bg {
	position: absolute;
	top: 0;
	z-index: 2;
	box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.05), 0px 24px 44px 0px rgba(0, 0, 0, 0.05);
	border-radius: 0.5rem 0.5rem 0.5rem 0px;
	width: 66.7716535433%;
}

/* category */

.c-category__card {
	display: grid;
	place-items: center;
	border: 1px solid #135097;
	border-radius: 0.25rem;
	background: #ffffff;
	padding-inline: 1rem;
	padding-block: 0.1875rem;
	width: -moz-fit-content;
	width: fit-content;
	height: 29px;
	color: #135097;
	font-size: 0.8125rem;
	line-height: 160%;
}

.c-category__card--large {
	border-radius: clamp(0.25rem, -0.0075549451rem + 0.5494505495vw, 0.375rem);
	padding-inline: clamp(0.9375rem, 0.4223901099rem + 1.0989010989vw, 1.1875rem);
	height: clamp(1.8125rem, 1.2973901099rem + 1.0989010989vw, 2.0625rem);
	font-size: clamp(0.8125rem, 0.1686126374rem + 1.3736263736vw, 1.125rem);
	line-height: 140%;
}

.c-category__card--blue {
	border: 1px solid #135097;
	color: #135097;
}

.c-category__card--green {
	border: 1px solid #42a0ad;
	color: #42a0ad;
}

.c-category__card--purple {
	border: 1px solid #9c8cff;
	color: #9c8cff;
}

.c-category__card--pink {
	border: 1px solid #c88dec;
	color: #c88dec;
}

/* heading */

.c-heading {
	position: relative;
	padding-left: 5.25rem;
	padding-left: 84px;
	color: #135097;
	font-weight: 700;
	font-size: 2rem;
	line-height: 120%;
	font-family: "Zen Maru Gothic", serif;
	letter-spacing: 6.4px;
	text-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
}

.c-heading::before {
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/common/heading-color.webp) no-repeat center left/contain;
	aspect-ratio: 72/38;
	width: 4.5rem;
	height: auto;
	content: "";
}

.c-heading--white {
	color: #ffffff;
}

.c-heading--white::before {
	background-image: url(../img/common/heading-white.webp);
}

.c-heading--single {
	padding-left: 64px;
}

.c-heading--single::before {
	top: 50%;
	transform: translateY(-50%);
	width: 3.25rem;
	height: 1.75rem;
}

/* logo */

.c-logo__first {
	max-width: 260px;
}

.c-logo__first img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.c-logo__second {
	max-width: 206.351px;
}

.c-logo__second img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.c-logo__footer {
	max-width: 334px;
}

.c-logo__footer img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

/* pager */

.c-pager a.prev {
	display: inline-block;
	margin-right: 0.5rem;
	background: url(../img/common/pagination_prev.svg);
	width: 36px;
	height: 36px;
}

.c-pager a.next {
	display: inline-block;
	margin-left: 0.5rem;
	background: url(../img/common/pagination_next.svg);
	width: 36px;
	height: 36px;
}

/* pagination */

.c-pagination {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 0.375rem;
	margin-top: 56px;
	margin-inline: auto;
}

.page-numbers {
	display: grid;
	place-items: center;
	padding-inline: 0.5rem;
	padding-block: 0.125rem;
	color: #676e87;
	font-size: 1.25rem;
	line-height: 140%;
	letter-spacing: 3px;
}

.page-numbers.current {
	border-radius: 0.25rem;
	background-color: #629de2;
	pointer-events: none;
	color: #ffffff;
}

.page-numbers.dots {
	pointer-events: none;
}

/* search */

.c-search {
	display: grid;
	place-items: center;
	padding: 0.5rem;
}

.c-search img {
	width: 28px;
	-o-object-fit: cover;
	object-fit: cover;
}

/* sort */

.c-sort {
	display: flex;
	gap: 0.625rem;
	color: #676e87;
	font-size: clamp(0.875rem, 0.3598901099rem + 1.0989010989vw, 1.125rem);
	line-height: 130%;
}

.c-sort__left,
.c-sort__right {
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.c-sort__left.is-current,
.c-sort__right.is-current {
	pointer-events: none;
	color: #135097;
}

/* tag */

.c-tag__link {
	display: grid;
	place-items: center;
	border-radius: 100vh;
	background: #daeff8;
	padding-inline: 0.5rem;
	padding-block: 0.125rem;
	width: -moz-fit-content;
	width: fit-content;
	height: 1.625rem;
	color: #343436;
	font-size: 0.75rem;
	line-height: 180%;
}

.c-tag__card {
	display: grid;
	place-items: center;
	border-radius: 100vh;
	background: #daeff8;
	padding-inline: 0.5rem;
	padding-block: 0.125rem;
	width: -moz-fit-content;
	width: fit-content;
	height: 26px;
	color: #343436;
	font-size: 0.75rem;
	line-height: 180%;
}

.c-tag__card--fv {
	padding-inline: 0.5rem 0.625rem;
	padding-block: 0.125rem 0.25rem;
	height: 1.6875rem;
	font-size: 0.875rem;
	line-height: 150%;
}

/* 404 */

.p-404__inner {
	max-width: 1096px;
}

.p-404__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.05);
	border-radius: 24px;
	background: #ffffff;
	padding-inline: 3.75rem;
	padding-block: 5rem;
}

.p-404__box-head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.p-404__img {
	width: 89.143px;
}

.p-404__img img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-404__lead-en {
	margin-top: 2.5rem;
	color: #135097;
	font-weight: 700;
	font-size: clamp(1.5rem, 0.2122252747rem + 2.7472527473vw, 2.125rem);
	line-height: 180%;
	letter-spacing: 3.4px;
}

.p-404__page-title {
	margin-top: 2.375rem;
}

.p-404__page-title img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-404__text-bold {
	margin-top: 3.5rem;
	font-weight: 700;
	font-size: clamp(1.25rem, 0.7348901099rem + 1.0989010989vw, 1.5rem);
	line-height: 180%;
	font-family: "Zen Maru Gothic", serif;
	letter-spacing: 2.4px;
}

.p-404__text {
	margin-top: 2rem;
	font-weight: 500;
	font-size: clamp(0.9375rem, 0.2936126374rem + 1.3736263736vw, 1.25rem);
	line-height: 180%;
	letter-spacing: 2px;
}

.p-404__button {
	margin-top: 2rem;
	width: clamp(11.5625rem, 0.4876373626rem + 23.6263736264vw, 16.9375rem);
}

.p-404__tag-list {
	margin-top: 3.9375rem;
	padding-inline: 0.5rem;
}

/* card */

.p-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	-moz-column-gap: 2rem;
	column-gap: 2rem;
	row-gap: 1.9375rem;
}

.p-card__link {
	display: inline-block;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03), 0px 5px 30px 0px rgba(20, 43, 78, 0.2);
	border-radius: 0.75rem;
	background: #ffffff;
	padding: 1rem;
	overflow: hidden;
}

.p-card__link--fv {
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.02), 0px 16px 30px 0px rgba(0, 0, 0, 0.06);
	border-radius: clamp(0.75rem, -0.2802197802rem + 2.1978021978vw, 1.25rem);
	padding-inline: clamp(0.9375rem, -0.6078296703rem + 3.2967032967vw, 1.6875rem);
	padding-block: clamp(1rem, -0.5453296703rem + 3.2967032967vw, 1.75rem);
}

.p-card__img img {
	aspect-ratio: 270/152;
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	border-radius: 0.5rem;
	object-fit: cover;
}

.p-card__img--fv img {
	aspect-ratio: 540/306;
}

.p-card__body {
	margin-top: 0.5625rem;
}

.p-card__body--fv {
	margin-top: clamp(0.4375rem, -0.7214972527rem + 2.4725274725vw, 1rem);
}

.p-card__date {
	color: #676e87;
	font-size: 0.75rem;
	line-height: 120%;
}

.p-card__date--fv {
	font-size: clamp(0.75rem, 0.4924450549rem + 0.5494505495vw, 0.875rem);
}

.p-card__title {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	align-items: stretch;
	margin-top: 0.5rem;
	-webkit-line-clamp: 2;
	font-weight: 500;
	font-size: 0.9375rem;
	line-height: 140%;
	letter-spacing: 0.3px;
}

.p-card__title--fv {
	margin-top: 0.375rem;
	font-size: clamp(0.9375rem, 0.2936126374rem + 1.3736263736vw, 1.25rem);
	line-height: 160%;
	letter-spacing: 1px;
}

.p-card__category {
	margin-top: clamp(0.5rem, 0.3712225275rem + 0.2747252747vw, 0.5625rem);
}

.p-card__tag {
	display: flex;
	gap: 0.5rem;
	margin-top: 0.75rem;
	overflow: hidden;
	white-space: nowrap;
}

.p-card__tag--fv {
	gap: clamp(0.5rem, -0.5302197802rem + 2.1978021978vw, 1rem);
	margin-top: clamp(0.75rem, 0.2348901099rem + 1.0989010989vw, 1rem);
}

/* category 新着情報の記事 */

.p-category__tab-list {
	margin-top: 2.5rem;
}

.p-category__tag-list {
	margin-top: 4rem;
}

/* CTA */

.p-cta {
	background: url(../img/common/cta_bg-pc.webp) no-repeat center center/100% 100%;
	width: 100%;
}

.p-cta__inner {
	margin-inline: auto;
	padding-inline: 40px;
	padding-block: 4.5625rem 4.6875rem;
	max-width: 920px;
}

.p-cta__btns {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

/* footer */

.p-footer {
	background: #241919;
}

.p-footer__inner {
	padding-block: 2.9375rem 1.8125rem;
	text-align: center;
}

.p-footer__content {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.p-footer-list {
	display: flex;
	justify-content: space-between;
	padding-block: 1rem;
	width: 100%;
	max-width: 306px;
	text-align: left;
	white-space: nowrap;
}

.p-footer__category {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 32.6797385621%;
}

.p-footer__company {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 46.4052287582%;
}

.p-footer__link {
	padding-block: 0.5rem;
	color: #ffffff;
	font-weight: 500;
	font-size: 1rem;
	line-height: 120%;
	letter-spacing: 0.8px;
}

.p-footer__copyright {
	margin-top: 1.5rem;
}

.p-footer__copyright small {
	color: #e6edf3;
	font-weight: 300;
	font-size: 1rem;
	line-height: 120%;
}

.p-footer__annotation {
	margin-top: 1.5rem;
	color: #e6edf3;
	font-size: 0.75rem;
	line-height: 120%;
}

/* front page */

/* 新着記事 */

.p-front-page__new {
	padding-block: 2.375rem 2.5rem;
}

.p-front-page__new-heading {
	display: flex;
	justify-content: center;
	margin-left: 5px;
}

.p-front-page__new-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: clamp(1.25rem, -4.4162087912rem + 12.0879120879vw, 4rem);
	margin-top: 2.875rem;
}

.p-front-page__new-button {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

/* おすすめ記事 */

.p-front-page__recommend {
	background: url(../img/front-page/front-page_recommend_bg-pc.webp) no-repeat top center/cover;
	padding-block: 4.0625rem 3.9375rem;
}

/* すべての記事 */

.p-front-page__all {
	padding-block: 3.9375rem 4rem;
}

.p-front-page__all-tab-list {
	margin-top: 2.875rem;
}

.p-front-page__all-button {
	display: flex;
	justify-content: end;
	margin-top: clamp(1.25rem, -0.2953296703rem + 3.2967032967vw, 2rem);
}

.p-front-page__all-tag-list {
	margin-top: 4rem;
}

/* header */

.p-header {
	position: relative;
	z-index: 20;
	transition: all 0.3s ease 0s;
}

.p-header.is-scroll {
	background-color: #e6edf3;
}

.p-header.is-scroll .p-header__logo01 {
	opacity: 0;
	transition: 0.6s;
}

.p-header.is-scroll .p-header__logo02 {
	opacity: 1;
	transition: 0.6s;
}

.p-header__inner {
	display: flex;
	justify-content: space-between;
}

.p-header__logo {
	position: relative;
	width: 308px;
	max-width: 308px;
	height: inherit;
}

.p-header__logo01 {
	position: absolute;
	top: 2rem;
	left: 3rem;
	opacity: 1;
	transition: all 0.6s ease 0s;
}

.p-header__logo02 {
	position: absolute;
	top: 2rem;
	left: 3rem;
	opacity: 0;
	transition: all 0.6s ease 0s;
}

.p-header__container {
	display: flex;
	align-items: center;
	gap: 3rem;
	border-radius: 0px 0px 0px 2rem;
	background: #135097;
	padding-inline: 4rem 3.5rem;
	height: 99px;
}

.p-header__nav-list {
	display: flex;
	gap: 3rem;
}

.p-header__nav-item--search {
	display: none;
}

.p-header__nav-link {
	padding-block: 0.5rem;
	color: #ffffff;
	font-weight: 700;
	font-size: 1rem;
	line-height: 120%;
	white-space: nowrap;
}

.p-header__wrapper {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}

.p-header__button {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.p-header__icon-open {
	display: none;
}

/* home すべての記事 */

.p-home__tab-list {
	margin-top: 2.5rem;
}

.p-home__tag-list {
	margin-top: 3.9375rem;
}

/* single 投稿ページ */

.p-single__inner {
	margin-inline: auto;
	padding-inline: 40px;
	max-width: 1096px;
}

.p-single__box {
	box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.05);
	border-radius: 1.25rem;
	background: #ffffff;
	padding-top: 3rem;
	padding-bottom: 2.8125rem;
	padding-inline: clamp(1.25rem, -7.5068681319rem + 18.6813186813vw, 5.5rem);
}

.p-single__article {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.p-single__meta {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.p-single__date {
	display: flex;
	gap: 1rem;
	color: #676e87;
	font-size: clamp(0.875rem, 0.6174450549rem + 0.5494505495vw, 1rem);
	line-height: 180%;
}

.p-single__img {
	margin-top: 1rem;
	width: 100%;
}

.p-single__img img {
	aspect-ratio: 840/490;
	width: 100%;
	-o-object-fit: cover;
	border-radius: 0.5rem;
	object-fit: cover;
}

.p-single__discription {
	margin-top: clamp(1.25rem, -0.2953296703rem + 3.2967032967vw, 2rem);
	font-size: clamp(0.875rem, 0.7462225275rem + 0.2747252747vw, 0.9375rem);
	line-height: 200%;
	letter-spacing: 2.25px;
}

.p-single__body {
	width: 100%;
}

.p-single__body h2,
.p-single__body h3,
.p-single__body p,
.p-single__body table {
	margin-top: 20px;
}

.p-single__body h4 {
	margin-block: 10px;
}

#toc_container {
	display: block;
	margin-top: 1.25rem;
	margin-bottom: 0;
	border: 1px solid #daeff8;
	background: #ffffff;
	padding: 0;
	width: -moz-fit-content;
	width: fit-content;
	font-size: 100%;
}

#toc_container p.toc_title {
	display: flex;
	align-items: flex-start;
	background: #daeff8;
	padding-inline: 15px;
	padding-block: 7px 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 180%;
	letter-spacing: 3px;
}

#toc_container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#toc_container a {
	position: relative;
	color: #135097;
	line-height: 160%;
}

#toc_container a::after {
	position: absolute;
	bottom: 2px;
	left: 0;
	background: #135097;
	width: 100%;
	height: 0.5px;
	content: "";
}

#toc_container p.toc_title + ul.toc_list {
	margin-top: 0;
	padding: 12px 30px 18px 23px;
}

#toc_container > ul {
	display: flex;
	flex-direction: column;
	gap: 7.5px;
}

#toc_container ul ul {
	margin-left: 15px;
}

#toc_container > ul > li {
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 1.92px;
}

#toc_container > ul > li > ul {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-top: 8px;
}

#toc_container > ul > li > ul > li {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 1.8px;
}

.p-single__h1 {
	font-weight: 500;
	font-size: clamp(1.25rem, 0.2197802198rem + 2.1978021978vw, 1.75rem);
	line-height: 180%;
	letter-spacing: 2.8px;
}

.p-single__body h2 {
	position: relative;
	padding-block: 1rem;
	width: 100%;
	font-weight: 500;
	font-size: clamp(1.25rem, 0.7348901099rem + 1.0989010989vw, 1.5rem);
	line-height: 160%;
	letter-spacing: 3.6px;
}

.p-single__body h2::before {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #629de2;
	width: 100%;
	height: 0.125rem;
	content: "";
}

.p-single__body h3 {
	position: relative;
	padding-left: 1rem;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 3.2px;
}

.p-single__body h3::before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: #629de2;
	width: 0.125rem;
	height: 100%;
	content: "";
}

.p-single__body h4 {
	position: relative;
	padding-left: 1.875rem;
	font-weight: 500;
	font-size: 15px;
	line-height: 160%;
	letter-spacing: 3px;
}

.p-single__body h4::before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: #629de2;
	width: 1.25rem;
	height: 0.125rem;
	content: "";
}

.p-single__body h5 {
	position: relative;
	margin-left: 1.25rem;
	padding-left: 1.5rem;
	font-size: 15px;
	line-height: 210%;
	letter-spacing: 2.25px;
}

.p-single__body h5::before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: #629de2;
	aspect-ratio: 1/1;
	width: 0.25rem;
	content: "";
}

.p-single__body h5 + .p-single__body h5 {
	margin-top: 0.125rem;
}

.p-single__body p {
	font-size: clamp(0.875rem, 0.7462225275rem + 0.2747252747vw, 0.9375rem);
	line-height: 203%;
	letter-spacing: 2.25px;
}

.p-single__quotation {
	margin: 0;
	margin-top: 1.125rem;
	border: 1px solid #629de2;
	background: #e6edf3 !important;
	padding-inline: 1.75rem;
	padding-block: 1.25rem 1.125rem;
}

.p-single__quotation p {
	margin-top: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 202%;
	letter-spacing: 2.4px !important;
}

.p-single__quotation p:nth-of-type(2) {
	margin-top: 0.625rem;
	color: #135097;
	text-decoration-line: underline;
}

.p-single__quotation a {
	margin-left: 2px;
}

.p-single__body thead {
	border-bottom: 0;
}

.p-single__body table {
	border-collapse: collapse;
	width: 100%;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
}

.p-single__body th {
	vertical-align: middle;
	border: 1px solid #629de2;
	background-color: #629de2;
	padding-inline: 0.458125rem;
	padding-block: clamp(0.3125rem, -0.0738324176rem + 0.8241758242vw, 0.5rem) clamp(0.25rem, -0.2651098901rem + 1.0989010989vw, 0.5rem);
	width: 33.333%;
	color: #ffffff;
	font-weight: 700;
	font-size: clamp(0.8125rem, 0.4261675824rem + 0.8241758242vw, 1rem);
	line-height: 150%;
}

.p-single__body td {
	vertical-align: middle;
	border: 1px solid #629de2;
	background-color: #ffffff;
	padding-inline: 0.1875rem;
	padding-block: clamp(0.375rem, 0.1174450549rem + 0.5494505495vw, 0.5rem) clamp(0.4375rem, 0.3087225275rem + 0.2747252747vw, 0.5rem);
	width: 33.333%;
	font-size: clamp(0.8125rem, 0.4261675824rem + 0.8241758242vw, 1rem);
	line-height: 150%;
}

.p-single__button {
	margin-top: 1.25rem;
}

.p-single__box-tag-list {
	display: flex;
	align-items: start;
	gap: 1.875rem;
	margin-top: clamp(1.25rem, -0.2953296703rem + 3.2967032967vw, 2rem);
	border-top: 1px solid #DDE1F0;
	padding-top: 1.25rem;
	width: 100%;
}

.p-single__box-tag-list-head {
	display: inline-block;
	flex-shrink: 0;
	font-size: 0.9375rem;
	line-height: 200%;
	letter-spacing: 2.25px;
}

.p-single__box-tag-list-body {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.p-single__recommend {
	margin-top: clamp(2.5rem, -0.5906593407rem + 6.5934065934vw, 4rem);
}

.p-single__tag-list {
	margin-top: 3.875rem;
	margin-inline: auto;
	padding-inline: 40px;
	max-width: 1080px;
}

/* swiper */

/*===============================
FV 中央カードがUPスライダー
===============================*/

.p-swiper__front-page-container {
	position: relative;
}

.p-swiper__front-page-swiper {
	position: relative;
}

.p-swiper__front-page-wrapper {
	position: relative;
	padding-top: 4rem;
	padding-bottom: 3rem;
}

.p-swiper__front-page-slide {
	position: relative;
	transform: translateY(0);
	transition: none; /* 初期状態ではトランジションを無効にする */
}

.p-swiper__front-page-slide.swiper-slide-active {
	transform: translateY(-40px);
}

.p-swiper__front-page-slide a {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-swiper__front-page-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	margin-top: -5px;
	width: calc(47.2222222222% + 70px);
}

.p-swiper__front-page-prev {
	top: 50%;
	left: 3px;
	transform: translateY(-50%);
}

.p-swiper__front-page-prev::after {
	position: absolute;
	background: url(../img/front-page/fv_prev.svg) no-repeat top center/contain;
	width: 36px;
	height: 36px;
	content: "";
}

.p-swiper__front-page-next {
	top: 50%;
	right: 3px;
	transform: translateY(-50%);
}

.p-swiper__front-page-next::after {
	position: absolute;
	background: url(../img/front-page/fv_next.svg) no-repeat top center/contain;
	width: 36px;
	height: 36px;
	content: "";
}

/*===============================
右にはみ出すスライダー（おすすめ一覧）
===============================*/

.p-swiper__recommend-inner {
	margin-inline: auto;
	padding-inline: 40px;
	max-width: 1114px;
}

.p-swiper__recommend-container {
	position: relative;
	margin-top: -38px; /* インナーを超えて右側を拡張 */
	margin-right: calc(50% - 50vw);
	margin-left: -1000px;
	padding-right: 40px;
	padding-left: 1000px;
	overflow-x: hidden;
}

.p-swiper__recommend-head {
	position: relative;
	padding-right: 40px;
	max-width: 1034px;
}

.p-swiper__recommend-arrow {
	display: flex;
	position: absolute;
	top: 24px;
	right: -4px;
	align-items: center;
	gap: 55px;
}

.p-swiper__recommend-arrow .swiper-button-next.swiper-button-disabled,
.p-swiper__recommend-arrow .swiper-button-prev.swiper-button-disabled {
	opacity: 0.5;
}

.p-swiper__recommend-swiper {
	position: relative;
	padding-top: 84px;
	padding-bottom: 46px;
	overflow: visible !important;
}

.p-swiper__recommend-wrapper {
	position: relative;
}

.p-swiper__recommend-slide a {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.p-swiper__recommend-prev {
	position: relative;
}

.p-swiper__recommend-prev::after {
	position: absolute;
	transition: all 0.3s ease 0s;
	background: url(../img/front-page/prev_circle-white.svg) no-repeat top center/contain;
	width: 48px;
	height: 48px;
	content: "";
}

.p-swiper__recommend-next {
	position: relative;
}

.p-swiper__recommend-next::after {
	position: absolute;
	transition: all 0.3s ease 0s;
	background: url(../img/front-page/next_circle-white.svg) no-repeat top center/contain;
	width: 48px;
	height: 48px;
	content: "";
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	left: 1000px;
	max-width: 1034px !important;
	height: 8px;
}

.swiper-scrollbar {
	position: relative;
	z-index: 1 !important;
	background-color: #dde1f0;
}

.swiper-scrollbar-drag {
	position: relative;
	z-index: 1 !important;
	background-color: #135097;
}

.p-swiper__single-swiper {
	position: relative;
	padding-top: 84px;
	padding-bottom: 46px;
	overflow: visible !important;
}

.p-single__recommend-slider .p-swiper__recommend-prev::after {
	background: url(../img/single/prev_circle-blue.svg) no-repeat top center/contain;
}

.p-single__recommend-slider .p-swiper__recommend-next::after {
	background: url(../img/single/next_circle-blue.svg) no-repeat top center/contain;
}

/* tab-list */

.p-tab-list__head {
	position: relative;
	z-index: 2;
}

.p-tab-list__menu {
	display: flex;
	justify-content: flex-start;
	gap: 0.75rem;
	height: 2.125rem;
}

.p-tab-list__menu-item {
	cursor: pointer;
	border: 1px solid #629de2;
	border-radius: 0.75rem 0.75rem 0px 0px;
	background: #ffffff;
	padding-inline: 1.1875rem;
	padding-block: 0.3125rem 0.1875rem;
	width: -moz-fit-content;
	width: fit-content;
	color: #629de2;
	font-weight: 500;
	font-size: clamp(0.875rem, 0.6174450549rem + 0.5494505495vw, 1rem);
	line-height: 150%;
	text-align: center;
}

.p-tab-list__menu-item.is-active {
	background: #629de2;
	pointer-events: none;
	color: #ffffff;
}

.p-tab-list__menu-item--all {
	border: 1px solid #629de2;
	color: #629de2;
}

.p-tab-list__menu-item--all.is-active {
	background: #629de2;
	color: #ffffff;
}

.p-tab-list__menu-item--new {
	border: 1px solid #135097;
	color: #135097;
}

.p-tab-list__menu-item--new.is-active {
	background: #135097;
	color: #ffffff;
}

.p-tab-list__menu-item--tips {
	border: 1px solid #42a0ad;
	color: #42a0ad;
}

.p-tab-list__menu-item--tips.is-active {
	background: #42a0ad;
	color: #ffffff;
}

.p-tab-list__menu-item--interview {
	border: 1px solid #9c8cff;
	color: #9c8cff;
}

.p-tab-list__menu-item--interview.is-active {
	background: #9c8cff;
	color: #ffffff;
}

.p-tab-list__menu-item--news {
	border: 1px solid #c88dec;
	color: #c88dec;
}

.p-tab-list__menu-item--news.is-active {
	background: #c88dec;
	color: #ffffff;
}

.p-tab-list__content {
	position: relative;
	z-index: 4;
	margin-top: -1px;
	width: 100%;
}

.p-tab-list__sort {
	position: absolute;
	top: -28px;
	right: 8px;
}

.p-tab-list__content-item {
	display: none;
	border: 1px solid #629de2;
	border-radius: 0px 1rem 1rem 1rem;
	background: #629de2;
	padding: 1.9375rem;
}

.p-tab-list__content-item--all {
	border: 1px solid #629de2;
	background: #629de2;
}

.p-tab-list__content-item--new {
	border: 1px solid #135097;
	background: #135097;
}

.p-tab-list__content-item--tips {
	border: 1px solid #42a0ad;
	background: #42a0ad;
}

.p-tab-list__content-item--interview {
	border: 1px solid #9c8cff;
	background: #9c8cff;
}

.p-tab-list__content-item--news {
	border: 1px solid #c88dec;
	background: #c88dec;
}

.p-tab-list__content-item.is-active {
	display: block;
	animation: fade 0.3s;
}

.p-card__null {
	grid-column-start: 1;
	grid-column-end: 4;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03), 0px 16px 30px 0px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	background: #ffffff;
	padding: 1rem;
	text-align: center;
}

.p-card__null-text {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 140%;
	letter-spacing: 0.4px;
}

/* tag-list */

.p-tag-list__head {
	border-radius: 1rem 1rem 0px 0px;
	background: #629de2;
	padding-inline: clamp(1rem, -0.0302197802rem + 2.1978021978vw, 1.5rem) clamp(0.625rem, -0.6627747253rem + 2.7472527473vw, 1.25rem);
	padding-block: clamp(0.6875rem, 0.5587225275rem + 0.2747252747vw, 0.75rem) clamp(0.375rem, 0.1174450549rem + 0.5494505495vw, 0.5rem);
	width: clamp(15.0625rem, 6.5631868132rem + 18.1318681319vw, 19.1875rem);
	height: clamp(2.4375rem, 1.4072802198rem + 2.1978021978vw, 2.9375rem);
}

.p-tag-list__head-title {
	position: relative;
	padding-left: clamp(1.625rem, 0.4660027473rem + 2.4725274725vw, 2.1875rem);
	color: #ffffff;
	font-weight: 700;
	font-size: clamp(0.9375rem, 0.5511675824rem + 0.8241758242vw, 1.125rem);
	line-height: 150%;
	font-family: "Zen Maru Gothic", serif;
	letter-spacing: 2.7px;
}

.p-tag-list__head-title::before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: url(../img/common/header_search.svg) no-repeat center left/contain;
	aspect-ratio: 1/1;
	width: clamp(1.125rem, 0.3523351648rem + 1.6483516484vw, 1.5rem);
	content: "";
}

.p-tag-list__body {
	border: 1px solid #629de2;
	border-radius: 0px 1.25rem 1.25rem 1.25rem;
	background: #ffffff;
	padding-top: clamp(1.4375rem, -0.1078296703rem + 3.2967032967vw, 2.1875rem);
	padding-bottom: clamp(1.4375rem, -0.1078296703rem + 3.2967032967vw, 2.1875rem);
	padding-inline: clamp(1rem, -8.7870879121rem + 20.8791208791vw, 5.75rem);
}

.p-tag-list__list {
	display: flex;
	flex-wrap: wrap;
	gap: clamp(0.5rem, -0.5302197802rem + 2.1978021978vw, 1rem);
}

/* tag-search #タグの検索結果 */

.p-tag-search__tab-list {
	margin-top: 2.5rem;
}

.p-tag-search__tag-list {
	margin-top: 4rem;
}

/* Zen+Maru+Gothic */

.u-font-en-heading {
	color: #343436;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 120%;
	font-family: "Zen Maru Gothic";
	letter-spacing: 5.6px;
	text-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
}

.u-font-en-cta {
	color: #135097;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 130%;
	font-family: "Zen Maru Gothic";
	letter-spacing: 0.48px;
}

.u-font-en-btn {
	color: #343436;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 180%;
	font-family: "Zen Maru Gothic";
	letter-spacing: 4px;
}

/* NotoSansJP */

.u-font-cta {
	color: #135097;
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 130%;
}

.u-font-category-filter {
	color: #135097;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 130%;
}

.u-font-fv-card-title {
	color: #343436;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 160%;
	letter-spacing: 1px;
}

.u-font-fv-card-category {
	color: #135097;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 140%;
}

.u-font-tag {
	color: #343436;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 180%;
}

.u-font-fv-card-date {
	color: #676e87;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 120%;
}

.u-font-card-title {
	color: #343436;
	font-weight: 500;
	font-size: 0.9375rem;
	line-height: 140%;
	letter-spacing: 0.3px;
}

.u-font-card-category {
	color: #135097;
	font-weight: 400;
	font-size: 0.8125rem;
	line-height: 160%;
}

.u-font-card-tag {
	color: #343436;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 180%;
}

.u-font-card-date {
	color: #676e87;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 120%;
}

.u-font-post-h1-heading {
	color: #343436;
	font-weight: 500;
	font-size: clamp(1.25rem, 0.2197802198rem + 2.1978021978vw, 1.75rem);
	line-height: 180%;
	letter-spacing: 2.8px;
}

.u-font-post-h1-link-m {
	color: #135097;
	font-weight: 500;
	font-size: clamp(0.9375rem, 0.8087225275rem + 0.2747252747vw, 1rem);
	line-height: 160%;
	letter-spacing: 1.92px;
	text-decoration-line: underline;
}

.u-font-post-h1-link-s {
	color: #135097;
	font-weight: 400;
	font-size: clamp(0.875rem, 0.7462225275rem + 0.2747252747vw, 0.9375rem);
	line-height: 160%;
	letter-spacing: 1.8px;
	text-decoration-line: underline;
}

.u-font-post-h1-date {
	color: #676e87;
	font-weight: 400;
	font-size: clamp(0.875rem, 0.6174450549rem + 0.5494505495vw, 1rem);
	line-height: 180%;
}

.u-font-post-h1-text {
	color: #343436;
	font-weight: 400;
	font-size: clamp(0.875rem, 0.7462225275rem + 0.2747252747vw, 0.9375rem);
	line-height: 200%; /* 30px */
	letter-spacing: 2.1px;
}

.u-font-post-h2-heading {
	color: #343436;
	font-weight: 500;
	font-size: clamp(1.125rem, 0.3523351648rem + 1.6483516484vw, 1.5rem);
	line-height: 160%;
	letter-spacing: 3.6px;
}

.u-font-post-h3-heading {
	color: #343436;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 3.2px;
}

.u-font-post-h4-heading {
	color: #343436;
	font-weight: 500;
	font-size: 15px;
	line-height: 160%;
	letter-spacing: 3px;
}

/* 表示切替 */

.u-hidden-pc {
	display: none;
}

.u-hidden-sp {
	display: block;
}

.u-hidden-xs {
	display: inline-block;
}

.u-hidden-xs-only {
	display: none;
}

/*  */

.u-inline-block {
	display: inline-block;
}

.u-inline-block--pc {
	display: inline-block;
}

/*  */

.u-separate {
	margin-top: 24px;
	margin-bottom: 24px;
}

/* スクリーンリーダー用(画面に表示しない) */

.u-sr-only {
	position: absolute;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border-width: 0;
	white-space: nowrap;
}

@media (hover: hover) {

.c-button {
	transition: all 0.3s ease 0s;
}

.c-button:hover {
	background-color: #ffffff;
}

.c-button__text {
	transition: all 0.3s ease 0s;
}

.c-button__text:hover {
	color: #135097;
}

.c-button__light-blue {
	transition: all 0.3s ease 0s;
}

.c-button__light-blue:hover {
	opacity: 0.8;
}

.c-button__push-header {
	transition: all 0.3s ease 0s;
}

.c-button__push-header:hover {
	transform: translateY(0.25rem);
	opacity: 0.8;
	box-shadow: none;
}

.c-button__cta {
	transition: all 0.3s ease 0s;
}

.c-button__cta:hover {
	transform: translateY(0.5rem);
	opacity: 0.8;
	box-shadow: none;
}

.page-numbers {
	transition: all 0.3s ease 0s;
}

.page-numbers:hover {
	opacity: 0.8;
}

.c-search {
	transition: all 0.3s ease 0s;
}

.c-search:hover {
	opacity: 0.8;
}

.c-sort__left,
.c-sort__right {
	transition: all 0.3s ease 0s;
}

.c-sort__left:hover,
.c-sort__right:hover {
	opacity: 0.8;
}

.c-tag__link {
	transition: all 0.3s ease 0s;
}

.c-tag__link:hover {
	background: #343436;
	color: #ffffff;
}

.p-card__link {
	transition: all 0.3s ease 0s;
}

.p-card__link:hover {
	opacity: 0.8;
}

.p-footer__link {
	transition: all 0.3s ease 0s;
}

.p-footer__link:hover {
	opacity: 0.8;
}

.p-header__nav-link {
	transition: all 0.3s ease 0s;
}

.p-header__nav-link:hover {
	opacity: 0.8;
}

.p-header__icon-search {
	transition: all 0.3s ease 0s;
}

.p-header__icon-search:hover {
	opacity: 0.8;
}

#toc_container a {
	transition: all 0.3s ease 0s;
}

#toc_container a:hover {
	opacity: 0.8;
}

.p-single__quotation p:nth-of-type(2) {
	transition: all 0.3s ease 0s;
}

.p-single__quotation p:nth-of-type(2):hover {
	opacity: 0.8;
}

.p-swiper__front-page-prev {
	transition: all 0.3s ease 0s;
}

.p-swiper__front-page-prev:hover {
	opacity: 0.8;
}

.p-swiper__front-page-next {
	transition: all 0.3s ease 0s;
}

.p-swiper__front-page-next:hover {
	opacity: 0.8;
}

.p-swiper__recommend-prev {
	transition: all 0.3s ease 0s;
}

.p-swiper__recommend-prev:hover::after {
	background: url(../img/front-page/prev_circle-white-active.svg) no-repeat top center/contain;
}

.p-swiper__recommend-next {
	transition: all 0.3s ease 0s;
}

.p-swiper__recommend-next:hover::after {
	background: url(../img/front-page/next_circle-white-active.svg) no-repeat top center/contain;
}

.p-single__recommend-slider .p-swiper__recommend-prev {
	transition: all 0.3s ease 0s;
}

.p-single__recommend-slider .p-swiper__recommend-prev:hover::after {
	background: url(../img/single/prev_circle-blue-active.svg) no-repeat top center/contain;
}

.p-single__recommend-slider .p-swiper__recommend-next {
	transition: all 0.3s ease 0s;
}

.p-single__recommend-slider .p-swiper__recommend-next:hover::after {
	background: url(../img/single/next_circle-blue-active.svg) no-repeat top center/contain;
}

.p-tab-list__menu-item--all {
	transition: all 0.3s ease 0s;
}

.p-tab-list__menu-item--all:hover {
	background: #629de2;
	color: #ffffff;
}

.p-tab-list__menu-item--new {
	transition: all 0.3s ease 0s;
}

.p-tab-list__menu-item--new:hover {
	background: #135097;
	color: #ffffff;
}

.p-tab-list__menu-item--tips {
	transition: all 0.3s ease 0s;
}

.p-tab-list__menu-item--tips:hover {
	background: #42a0ad;
	color: #ffffff;
}

.p-tab-list__menu-item--interview {
	transition: all 0.3s ease 0s;
}

.p-tab-list__menu-item--interview:hover {
	background: #9c8cff;
	color: #ffffff;
}

.p-tab-list__menu-item--news {
	transition: all 0.3s ease 0s;
}

.p-tab-list__menu-item--news:hover {
	background: #c88dec;
	color: #ffffff;
}

}

@media (hover: none) {

.c-button:active {
	background-color: #ffffff;
}

.c-button__text:active {
	color: #135097;
}

.c-button__light-blue:active {
	opacity: 0.8;
}

.c-button__push-header:active {
	transform: translateY(0.25rem);
	opacity: 0.8;
	box-shadow: none;
}

.c-button__cta:active {
	transform: translateY(0.5rem);
	opacity: 0.8;
	box-shadow: none;
}

.page-numbers:active {
	opacity: 0.8;
}

.c-search:active {
	opacity: 0.8;
}

.c-sort__left:active,
.c-sort__right:active {
	opacity: 0.8;
}

.c-tag__link:active {
	background: #343436;
	color: #ffffff;
}

.p-card__link:active {
	opacity: 0.8;
}

.p-footer__link:active {
	opacity: 0.8;
}

.p-header__nav-link:active {
	opacity: 0.8;
}

.p-header__icon-search:active {
	opacity: 0.8;
}

#toc_container a:active {
	opacity: 0.8;
}

.p-single__quotation p:nth-of-type(2):active {
	opacity: 0.8;
}

.p-swiper__front-page-prev:active {
	opacity: 0.8;
}

.p-swiper__front-page-next:active {
	opacity: 0.8;
}

.p-swiper__recommend-prev:active::after {
	background: url(../img/front-page/prev_circle-white-active.svg) no-repeat top center/contain;
}

.p-swiper__recommend-next:active::after {
	background: url(../img/front-page/next_circle-white-active.svg) no-repeat top center/contain;
}

.p-single__recommend-slider .p-swiper__recommend-prev:active::after {
	background: url(../img/single/prev_circle-blue-active.svg) no-repeat top center/contain;
}

.p-single__recommend-slider .p-swiper__recommend-next:active::after {
	background: url(../img/single/next_circle-blue-active.svg) no-repeat top center/contain;
}

.p-tab-list__menu-item--all:active {
	background: #629de2;
	color: #ffffff;
}

.p-tab-list__menu-item--new:active {
	background: #135097;
	color: #ffffff;
}

.p-tab-list__menu-item--tips:active {
	background: #42a0ad;
	color: #ffffff;
}

.p-tab-list__menu-item--interview:active {
	background: #9c8cff;
	color: #ffffff;
}

.p-tab-list__menu-item--news:active {
	background: #c88dec;
	color: #ffffff;
}

}

@media (max-width: 1300px) {

.p-header__logo02 {
	top: 48px;
}

.p-header__container {
	flex-direction: column-reverse;
	justify-content: center;
	gap: 1.5rem;
	height: 140px;
}

}

@media (max-width: 1100px) {

.p-swiper__recommend-arrow {
	right: 40px;
}

.p-single__recommend-slider .p-swiper__recommend-arrow {
	right: 50px;
}

}

@media (max-width: 950px) {

.p-card {
	grid-template-columns: repeat(2, 1fr);
}

}

@media (max-width: 860px) {

.p-header__container {
	padding-inline: 2rem;
}

.p-header__nav-list {
	gap: 2rem;
}

.p-header__wrapper {
	gap: 0.5rem;
}

.p-header__button {
	gap: 1rem;
}

}

@media (max-width: 830px) {

.p-cta__inner {
	display: flex;
	justify-content: center;
}

.p-cta__btns {
	flex-direction: column;
	gap: 1.5rem;
}

}

@media (max-width: 750px) {

.l-inner {
	padding-inline: 20px;
}

.l-section {
	margin-top: 2px;
}

.c-button {
	padding-inline: 0.875rem 0.625rem;
}

.c-button__text {
	letter-spacing: 3.6px;
}

.c-button__light-blue {
	letter-spacing: 1.12px;
}

.c-button__cta-body01 {
	margin-top: 1.25rem;
	padding-inline: 1.1875rem 2.5625rem;
	padding-block: 0.6875rem 0.5625rem;
	font-size: 1.125rem;
	letter-spacing: 0.36px;
}

.c-button__cta-body01::before {
	right: 1rem;
	margin-top: 2px;
	width: 1.125rem;
	height: 1.125rem;
}

.c-button__cta-head01 {
	width: 90.780141844%;
}

.c-button__cta-head01-bg {
	width: 90.780141844%;
}

.c-button__cta-body02 {
	margin-top: 1.125rem;
	padding-inline: 1.375rem 2.34375rem;
	padding-block: 0.625rem 0.5rem;
	font-size: 1.125rem;
	letter-spacing: 1.44px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.c-button__cta-body02::before {
	right: 1.25rem;
	margin-top: 2px;
	width: 1.125rem;
	height: 1.125rem;
}

.c-button__cta-head02 {
	width: 72.4210526316%;
}

.c-button__cta-head02-bg {
	width: 72.4210526316%;
}

.c-category__card--large {
	line-height: 160%;
}

.c-heading {
	padding-left: 3.375rem;
	font-size: 1.5rem;
	letter-spacing: 4.8px;
}

.c-heading::before {
	top: 3px;
	width: 2.625rem;
}

.c-heading--single {
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 2.4px;
}

.c-heading--single::before {
	top: 18px;
}

.c-heading--tag::before {
	top: 5px;
}

.c-logo__second {
	max-width: 160px;
}

.c-logo__footer {
	max-width: 234px;
}

.c-logo__footer img {
	aspect-ratio: 234/44;
}

.c-pagination.c-pager[style*="margin-top: 56px"] {
	margin-top: 33px !important; /* ページネーションが表示されている時、750px以下では32pxの余白 */
	padding-left: 29px;
}

/* ページネーションが非表示の場合 */

.c-pagination.c-pager[style*="margin-top: 0"] {
	margin-top: 0 !important;
}

.c-sort {
	gap: 0.625rem;
}

.c-tag__card--fv {
	padding-inline: 0.5rem;
	padding-block: 0.125rem;
	height: 26px;
	font-size: 0.75rem;
	line-height: 180%;
}

.p-404__box {
	padding-inline: 1.25rem;
	padding-block: 3.5rem;
}

.p-404__lead-en {
	letter-spacing: 2.4px;
}

.p-404__page-title {
	margin-top: 2.1875rem;
	aspect-ratio: 163/80;
	width: 160px;
}

.p-404__text-bold {
	margin-top: 2.375rem;
	letter-spacing: 2px;
}

.p-404__text {
	letter-spacing: 1.5px;
}

.p-404__tag-list {
	padding-inline: 0;
}

.p-card {
	grid-template-columns: repeat(1, 1fr);
	gap: 0.75rem;
}

.p-card__link--fv {
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03), 0px 5px 30px 0px rgba(20, 43, 78, 0.2);
}

.p-card__img img {
	aspect-ratio: 270/152.53;
}

.p-card__img--fv img {
	aspect-ratio: 270/155;
}

.p-card__title--fv {
	line-height: 140%;
	letter-spacing: 0.3px;
}

.p-category__tab-list {
	margin-top: 2.875rem;
}

.p-cta {
	background: url(../img/common/cta_bg-sp.webp) no-repeat center center/100% 100%;
}

.p-cta__inner {
	padding-block: 2.5rem;
}

.p-footer__inner {
	padding-block: 2.625rem 1.25rem;
}

.p-footer__content {
	flex-direction: column;
	align-items: center;
	gap: 2.3125rem;
}

.p-footer-list {
	padding-block: 0;
	max-width: 282px;
}

.p-footer__category {
	gap: 2rem;
	width: 35.4609929078%;
}

.p-footer__company {
	gap: 2rem;
	width: 50.3546099291%;
}

.p-footer__copyright {
	margin-top: 2.25rem;
}

.p-footer__annotation {
	margin-top: 2.4375rem;
	text-align: left;
}

.p-front-page__new-inner {
	padding-inline: 2.75rem;
}

.p-front-page__new-heading {
	justify-content: start;
	margin-left: 0;
}

.p-front-page__new-cards {
	grid-template-columns: repeat(1, 1fr);
	gap: 1.1875rem;
	margin-top: 2rem;
}

.p-front-page__new-button {
	justify-content: end;
	margin-top: 2.0625rem;
}

.p-front-page__recommend {
	background: url(../img/front-page/front-page_recommend_bg-sp.webp) no-repeat top center/cover;
	padding-block: 2.5rem 2.375rem;
}

.p-front-page__all {
	padding-block: 3rem 2.9375rem;
}

.p-front-page__all-tab-list {
	margin-top: 2.875rem;
}

.p-front-page__all-button {
	justify-content: center;
}

.p-header.is-scroll {
	height: 72px;
}

.p-header.is-scroll .p-header__container {
	border-radius: 0px 0px 0px 1.5rem;
	padding-top: 1.3125rem;
	padding-inline: 2rem 2rem;
	width: auto;
	height: 68px;
}

.p-header.is-scroll .p-header__icon {
	flex-direction: row-reverse;
	gap: 2.5rem;
}

.p-header.is-scroll .p-header__logo {
	width: -moz-fit-content;
	width: fit-content;
}

.p-header__inner {
	gap: 0.625rem;
}

.p-header__logo {
	flex-grow: 1;
	max-width: 280px;
}

.p-header__logo01 {
	left: 1.25rem;
}

.p-header__logo02 {
	top: 1.25rem;
	left: 1.5rem;
}

.p-header__container {
	border-radius: 0px 0px 0px 1.75rem;
	padding-inline: 1rem;
	padding-block: 1.75rem 1.25rem;
	width: 84px;
	height: auto;
}

.p-header__nav-list {
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	margin-top: 3.5625rem;
	margin-right: 2.5rem;
}

.p-header__nav-item--search {
	display: block;
	margin-top: -10px;
}

.p-header__nav-item--search .c-search {
	padding-inline: 1.875rem;
}

.p-header__button {
	display: none;
}

.p-header__icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1.375rem;
}

.p-header__icon-open {
	display: block;
	z-index: 41;
	transition: all 0.3s ease 0s;
	background: url(../img/common/header_icon-open.svg) no-repeat top left/contain;
	padding: 0.5rem;
	width: 2.25rem;
	height: 1.5625rem;
}

.p-header__icon-open.is-checked {
	margin-top: -7px;
	margin-right: 3px;
	background: url(../img/common/header_icon-close.svg) no-repeat top left/contain;
}

.p-header__drawer-content {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(100%);
	z-index: 40;
	transition: transform 0.4s linear;
	border-radius: 0px 0px 0px 1.5rem;
	background: rgba(19, 80, 151, 0.95);
	padding-inline: 4rem 1.5rem;
	padding-block: 1.5rem 2rem;
}

.p-header__drawer-content.is-checked {
	transform: translateX(0);
}

.p-header__drawer-content.is-checked .p-header__nav-list {
	gap: 2rem;
}

.p-header__drawer-content.is-checked .p-header__nav-link {
	padding-inline: 0.5rem;
}

.p-home__tab-list {
	margin-top: 2.875rem;
}

.p-single__inner {
	padding-inline: 0;
}

.p-single__box {
	border-radius: 0;
	padding-top: 1.25rem;
	padding-bottom: 3.0625rem;
}

.p-single__date {
	gap: 0.875rem;
}

.p-single__discription {
	line-height: 180%;
	letter-spacing: 1.4px;
}

#toc_container {
	margin-top: 1.0625rem;
}

#toc_container p.toc_title {
	padding-block: 6px;
	font-size: 16px;
	letter-spacing: 2.4px;
}

#toc_container p.toc_title + ul.toc_list {
	padding: 12px 14px 18px 14px;
}

#toc_container > ul > li {
	font-size: 15px;
	letter-spacing: 0.9px;
}

#toc_container > ul > li > ul {
	gap: 7px;
	margin-top: 9px;
}

#toc_container > ul > li > ul > li {
	font-size: 14px;
	line-height: 160%;
	letter-spacing: 0.84px;
}

.p-single__h1 {
	line-height: 150%;
	letter-spacing: 2px;
}

.p-single__body h2 {
	letter-spacing: 3px;
}

.p-single__body p {
	line-height: 180%;
	letter-spacing: 1.4px;
}

.p-single__quotation {
	padding-bottom: 1.3125rem;
	padding-inline: 1rem;
}

.p-single__quotation p {
	line-height: 160%;
}

.p-single__quotation p:nth-of-type(2) {
	margin-top: 16px;
}

.p-single__body td {
	line-height: 140%;
}

.p-single__box-tag-list {
	flex-direction: column;
	align-items: start;
	gap: 0.375rem;
}

.p-single__recommend {
	padding-block: 3rem 0rem;
}

.p-single__tag-list {
	margin-top: 3.75rem;
	padding-inline: 20px;
}

.p-swiper__front-page-wrapper {
	padding-top: 3.875rem;
	padding-bottom: 3.625rem;
}

.p-swiper__front-page-slide.swiper-slide-active {
	transform: translateY(-12px);
}

.p-swiper__front-page-arrow {
	margin-top: -3px;
	width: 100%;
}

.p-swiper__front-page-prev {
	left: 13px;
}

.p-swiper__front-page-next {
	right: 13px;
}

.p-swiper__recommend-container {
	margin-top: 0;
	margin-left: -20px;
	padding-right: 20px;
	padding-left: 20px;
}

.p-swiper__recommend-arrow {
	top: 48px;
	right: 0;
	gap: 57px;
}

.p-swiper__recommend-swiper {
	padding-top: 96px;
	padding-bottom: 33px;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	left: 20px;
}

.p-swiper__single-swiper {
	padding-top: 96px;
	padding-bottom: 33px;
}

.p-single__recommend-slider .p-swiper__recommend-arrow {
	right: 30px;
}

.p-tab-list__inner {
	display: flex;
	flex-direction: row-reverse;
	align-items: start;
}

.p-tab-list__menu {
	flex-direction: column;
	gap: 0.5625rem;
	margin-left: -1px;
	width: 1.75rem;
	height: auto;
}

.p-tab-list__menu-item {
	border-radius: 0px 12px 12px 0px;
	padding-inline: 13px 11px;
	padding-block: 0.4375rem;
	width: 100%;
	line-height: 115%;
	letter-spacing: 0.1em;
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.p-tab-list__content {
	margin-top: 0;
}

.p-tab-list__sort {
	top: -26px;
	right: -19px;
}

.p-tab-list__content-item {
	border-radius: 1rem 0px 1rem 1rem;
	padding: 0.6875rem;
}

.p-card__null {
	display: grid;
	place-items: center;
	height: 450px;
}

.p-tag-list__head-title {
	letter-spacing: 2.25px;
}

.p-tag-list__head-title::before {
	top: -1px;
	transform: translateY(0);
}

.p-tag-search__tab-list {
	margin-top: 2.875rem;
}

.u-font-post-h1-heading {
	line-height: 150%;
	letter-spacing: 2px;
}

.u-font-post-h1-link-m {
	letter-spacing: 0.9px;
}

.u-font-post-h1-link-s {
	letter-spacing: 0.84px;
}

.u-font-post-h1-text {
	line-height: 180%;
	letter-spacing: 1.4px;
}

.u-font-post-h2-heading {
	letter-spacing: 2.7px;
}

.u-hidden-pc {
	display: block;
}

.u-hidden-sp {
	display: none;
}

.u-inline-block--pc {
	display: inline;
}

}

@media (max-width: 750px) and (hover: hover) {

.p-header__nav-item--search {
	transition: all 0.3s ease 0s;
}

.p-header__nav-item--search:hover {
	opacity: 0.8;
}

.p-header__icon-open {
	transition: all 0.3s ease 0s;
}

.p-header__icon-open:hover {
	opacity: 0.8;
}

}

@media (max-width: 750px) and (hover: none) {

.p-header__nav-item--search:active {
	opacity: 0.8;
}

.p-header__icon-open:active {
	opacity: 0.8;
}

}

@media (max-width: 749px) {

.p-swiper__recommend-inner {
	padding-inline: 20px;
}

}

@media (max-width: 400px) {

.p-cta__inner {
	justify-content: start;
	padding-inline: 2.5rem;
}

}

@media (max-width: 389px) {

.p-card__null-text {
	font-size: 1.1875rem;
}

.u-hidden-xs {
	display: none;
}

.u-hidden-xs-only {
	display: block;
}

}

@media (max-width: 375px) {

.p-header.is-scroll .p-header__container {
	padding-inline: 1.25rem;
}

.p-header.is-scroll .p-header__icon {
	gap: 1rem;
}

.p-header.is-scroll .p-header__logo02 {
	width: 130px;
}

.p-header__container {
	padding-inline: 1rem;
	width: auto;
}

}

@media (max-width: 365px) {

.p-cta__inner {
	padding-inline: 20px;
}

}

@media (max-width: 325px) {

.c-button__cta-body01 {
	font-size: 1rem;
}

.c-button__cta-body02 {
	font-size: 1rem;
}

}

@keyframes fade {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

