@use "../global/functions" as *;
@use "../global" as g;

/* tag */
.c-tag__link {
  width: fit-content;
  height: rm(26);
  display: grid;
  place-items: center;
  padding-block: rm(2);
  padding-inline: rm(8);
  border-radius: 100vh;
  background: g.$color-tag-blue;
  color: g.$color-font-black;
  font-size: rm(12);
  line-height: 180%;
  @include g.hs(hp) {
    transition: all 0.3s ease 0s;
    &:hover {
      background: g.$color-tag-black;
      color: g.$color-font-white;
    }
  }
  @include g.hs(hi) {
    &:active {
      background: g.$color-tag-black;
      color: g.$color-font-white;
    }
  }
}

.c-tag__card {
  width: fit-content;
  height: 26px;
  display: grid;
  place-items: center;
  padding-block: rm(2);
  padding-inline: rm(8);
  border-radius: 100vh;
  background: g.$color-tag-blue;
  color: g.$color-font-black;
  font-size: rm(12);
  line-height: 180%;
}

.c-tag__card--fv {
  height: rm(27);
  padding-block: rm(2) rm(4);
  padding-inline: rm(8) rm(10);
  font-size: rm(14);
  line-height: 150%;
  @include g.mq("md") {
    height: 26px;
    padding-block: rm(2);
    padding-inline: rm(8);
    font-size: rm(12);
    line-height: 180%;
  }
}
