@use "../global/functions" as *;
@use "../global" as g;

/* inner */

.l-inner {
  max-width: calc(g.$inner-width + g.$inline-pc * 2);
  margin-inline: auto;
  padding-inline: g.$inline-pc;
  @include g.mq(sp) {
    padding-inline: g.$inline-sp;
  }
}
