@use "../global/functions" as *;
@use "../global" as g;

/* logo */
.c-logo__first {
  max-width: 260px;
  img {
    width: 100%;
    object-fit: cover;
  }
  // width: calc(260 / 1440 * 100%);//親要素が1440pxの場合
}

.c-logo__second {
  max-width: 206.351px;
  img {
    width: 100%;
    object-fit: cover;
  }
  @include g.mq("md") {
    max-width: 160px;
  }
}

.c-logo__footer {
  max-width: 334px;
  img {
    width: 100%;
    object-fit: cover;
  }
  @include g.mq("md") {
    max-width: 234px;
  }
}
