@use "../global/functions" as *;
@use "../global" as g;

/* pagination */
.c-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  //   max-width: 500px;
  margin-inline: auto;
  gap: rm(8);
  position: relative;
}

.page-numbers {
  display: grid;
  place-items: center;
  color: g.$color-font-gray;
  font-size: rm(20);
  line-height: 140%;
  letter-spacing: 3px;
  padding-block: rm(2);
  padding-inline: rm(8);
  @include g.hs(hp) {
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.8;
    }
  }
  @include g.hs(hi) {
    &:active {
      opacity: 0.8;
    }
  }
}

.page-numbers.current {
  color: g.$color-font-white;
  background-color: g.$color-blue-light;
  border-radius: rm(4);
  pointer-events: none;
}

.page-numbers.dots {
  pointer-events: none;
}

// .page-numbers.prev {
//   position: absolute;
//   left: 0;
// }

// .page-numbers.next {
//   position: absolute;
//   right: 0;
// }
