@use "../global/functions" as *;
@use "../global" as g;

/* pager */

.c-pager {
}

.c-pager a.prev {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../img/common/pagination_prev.svg);
  margin-right: rm(8);
}

.c-pager a.next {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../img/common/pagination_next.svg);
  margin-left: rm(8);
}
