@use "../global/functions" as *;
@use "../global" as g;

/* sort */
.c-sort {
  display: flex;
  gap: rm(11);
  color: g.$color-font-gray;
  font-size: cal-clamp(14, 18);
  line-height: 130%;
}
.current {
  color: g.$color-font-blue;
}

.c-sort a {
  @include g.hs(hp) {
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.8;
    }
  }
  @include g.hs(hi) {
    &:active {
      opacity: 0.8;
    }
  }
}

.c-sort__left {
}

.c-sort__bar {
}

.c-sort__right {
}
